DTD/agenda.dtd

<!ELEMENT agenda (contacte*)>
<!ELEMENT contacte (nom, cognom+, tlf, email?, dir)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT cognom (#PCDATA)>
<!ELEMENT tlf (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT dir (carrer, num, cp)>
<!ELEMENT carrer (#PCDATA)>
<!ELEMENT num (#PCDATA)>
<!ELEMENT cp (#PCDATA)>
<!ATTLIST tlf pais CDATA #REQUIRED>
